<div id="map"></div>
<script type='text/javascript'>
	// var map = L.mapbox.map('map', API.MapBox );
</script>

<script type="application/javascript" id="bootstrapped-collections">
	<%= @collections_json.html_safe %>
</script>

<div id="side-bar">
	
	<div id="side-bar-navigation"></div>

	<div id="data-list"></div>
	
<!-- 		<label>
		<input type="checkbox" value="checked">	
		Only include overlapping Collections
	</label> -->
</div>

<script type="application/javascript">
	$(function () {
		// where to render recenter map searchbar
		// and what kind of sidebar-router to create
		window.DD.initialize(function () {
			var collections = JSON.parse($('#bootstrapped-collections').html());

			new DD.Routers.Collections($('#side-bar-navigation'), $('#data-list'), collections);
			Backbone.history.start();
		})
	});

</script>


