<% console.log("what follows is a user you followed!") %>
<% console.log(user); %>

<ul class="user">
	<li class="name"><%= user.get("email") %></li>
	<!-- <li><a href="#/detail-view/<%= user.get("id") %>">(user Detail View)</a></li> -->
	<li><a href="#/user-friends/location/<%= user.get("id") %>">(See the Locations this user added)</a></li>
	<li><a href="#/users-collections-list/<%= user.get("id") %>">(See this user's Collections)</a></li>
</ul>