<% console.log("what follows is a user you followed!") %>
<% console.log(user); %>

<ul>
	<li><%= user.get("email") %></li>
	<li><a href="#/detail-view/<%= user.get("id") %>">(user Detail View)</a></li>
	<li><a href="#/users-locations-list/<%= user.get("id") %>">(See the Locations this user added)</a></li>
	<li><a href="#/users-collections-list/<%= user.get("id") %>">(See this user's Collections)</a></li>
</ul>