<ul class="tabs group friends">  
	<li><a href="#/">My Friends List</a></li>
	<!-- <li><a href="#/my-followers">My Followers List</a></li> -->
	<li><a href="#/search-users">Find New Friends</a></li>
</ul>