<ul class="tabs group friends">  
	<li class"index">
		<a href="#/user-friends">My Friends List</a>
	</li>
	<!-- <li><a href="#/my-followers">My Followers List</a></li> -->
	<li class"search-users">
		<a href="#/user-friends/search-users">Find New Friends</a>
	</li>
</ul>