<script type="application/javascript" id="bootstrapped-friends">
	<%= @friends_json.html_safe %>
</script>

<script type="application/javascript" id="bootstrapped-users">
	<%= @users_json.html_safe %>
</script>

<div id="side-bar" class="friends">
	
	<div id="side-bar-navigation"></div>

	<div id="data-list"></div>

</div>

<script type="application/javascript">
	$(function () {
		// where to render recenter map searchbar
		// and what kind of sidebar-router to create
		window.DD.initialize(function () {
			var friends = JSON.parse($('#bootstrapped-users').html());

			new DD.Routers.Friends($('#side-bar-navigation'), $('#data-list'), friends);
			Backbone.history.start();
		})
	});

</script>


