html {
    font-family: 'Lato', sans-serif;
    background-color: rgb(237,237,237);
}

.group {
    content: "";
    clear: both;
    display: table;
}

.nav-bar {
    width: 100%;
    background-color: rgb(104,178,180);
    border-bottom: 1px rgb(50,135,92) solid;
    position: fixed;
    top: 0;
    bottom: 0;
}

.nav-bar > .global {
    float: left;
    padding-left: 120px;
}

.nav-bar > .global > li {
    float: left;
    padding: 12px;
    border-right: rgb(50,135,92) 1px solid;
    font-weight: 100;
}

.nav-bar > .global > li:hover {
    box-shadow: 0px 0px 6px 0px rgb(45,89,95) inset;
}

.nav-bar > .global > li:first-child {
    border-left: rgb(50,135,92) 1px solid;
    font-weight: 600;
}

.nav-bar > .global > li.search {
    padding: 9;

}

.nav-bar > .global > li.search > input {
    height: 27px;
    padding: 2px;    
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.nav-bar > .global > li.search > input:focus {
   outline-color: rgb(58,   135,    89  );
}


.nav-bar > .global > li > a {
    color: rgb(237,237,232);
}

.nav-bar > .user {
    float: right;
    padding-right: 30px;
}

.nav-bar > .user > li {
    float: left;
    padding: 12px;
    border-left: rgb(50,135,92) 1px solid;
    font-weight: 100;
}

.nav-bar > .user > li:hover {
    box-shadow: 0px 0px 6px .5px rgb(45,89,95) inset;
}

.nav-bar > .user > li:last-child {
    border-right: rgb(50,135,92) 1px solid;
}

.nav-bar > .user > li > a {
    float: left;
    color: rgb(237,237,232);
}

.content {
    width: 900px;
    margin: 120px auto;
    background-color: rgb(114,178,180);
    border: 2px rgb(50,135,92) solid;
}

.content > .main > .map {
    float: left;
}

.content > .main > .side-bar {
    float: left;
    height: 404px;
    width: 295px;
    postition: relative;
}

.content > .main > .side-bar > .tabs {
    font-size: 12px;
    width: 100%;
}
.content > .main > .side-bar > .tabs > li {
    font-size: 14px;
    float: left;
    padding: 16px 7px;
    border-left: rgb(50,135,92) 1px solid;
    border-bottom: rgb(50,135,92) 1px solid;
}

.content > .main > .side-bar > .tabs > li:last-child {
    padding: 16px 9px;

}

.content > .main > .side-bar > .tabs > li > a {
    color: white;
}


.content > .main > .side-bar > .data-list {
    width: 100%;
}

.content > .main > .side-bar > .data-list > .location {
    width: 100%;
    border-bottom: 1px rgb(58,   135, 89  ) solid;
}

.content > .main > .side-bar > .data-list > .location > li {
    padding: 5px 5px;
    font-size: 14px;
    color: black;
}

.content > .main > .side-bar > .data-list > .location > li > a {
    color: black;
}

.content > .main > .side-bar > .data-list > .location > li:first-child > a {
    font-size:25px;
    color: white;
}

.content > .main > .side-bar > label {
    float: left;
    position: absolute;
    top: 490px;
    right: 180px;
}

.content > .bottom-bar {
    border-top: rgb(70,135,92) 1px solid;
    width: 100%;
    float: left;
}

.content > .bottom-bar > .info {
    padding: 10px;
}



.content > .bottom-bar > .info > li > h3 {
    padding: 10px 0px;
    font-weight: 900;
}

.content > .bottom-bar > .info > li:first-child > a {
    font-size: 12px;
    color: white;
}

.content > .bottom-bar > .info > li {
    padding: 4px 0px;
}