<label>New Comment:
	<textarea name="comment[body]"></textarea>
</label>
<label>
	<input type="checkbox" name="comment[is_private]">
	Make this a Personal Note (not viewable by others).
</label>
<button class="submit-comment">Submit</button>
<button class="remove-comment-form">Cancel</button>