<label for="comment[body]">New Comment:</label>
<textarea name="comment[body]" id="comment[body]"></textarea>
<input type="checkbox" name="comment[is_private]" id="comment[is_private]">
<label for="comment[is_private]">
	Make this a Personal Note (not viewable by others).
</label>
<div class="comment-form-buttons">
	<button class="submit-comment">Submit</button>
	<button class="remove-comment-form">Cancel</button>
</div>