<!-- in use -->
<%= JST['map/navigation']() %>

<ul class="tabs group">  
	<li><button class="collection-list">My Collection List</button></li>
	<li><button class="new-collection">New Collection</button></li>
	<li><button class="search-nearby">Search Nearby</button></li>
</ul>