<!-- in use -->
<%= JST['map/navigation']() %>

<ul class="tabs group">
	<li><a href="#/">My Collection List</a></li>
	<li><a href="#/">New Collection</a></li>
	<li><a href="#/">Search Nearby</a></li>
</ul>