<% console.log("what follows is a collection you favorited!") %>

<ul>
	<li><%= collection.get("name") %></li>
	<li><button class="set-map-center">Center Map</button></li>
	<li><a href="#/detail-view/<%= collection.get("id") %>">(List the Locations in this Collection)</a></li>
	
	<% var allCategories = []; %>
	<% collection.get("locations").each(function (location) { %>
		<% allCategories = allCategories.concat(location.get("categories_as_array")) %>
	<% }); %>

	<li class="categories">Included Categories:
		<dl class="group">
			<% console.log() %>
			<% _(_.uniq(allCategories)).each(function (category) { %>
				<dt><%= _(category).humanize() %></dt>
			<% }) %>
		</dl>
	</li>
	<li><a href="/collections/<%= collection.get("id") %>">(Collection Detail View)</a></li>
	<li><button class="add-comment">Add a Comment</button></li>
</ul>