<form>
	<select multiple="true" name="location[collection_ids]">
	<% choices.each(function (collection) { %>
		<!-- Preparing for serializeArray(), which will preserve name+value -->
		<!-- unfortunately, option collections don't take a name -->
		<option
			value="<%= collection.get("id") %>|<%= collection.get("name") %>"
			<% if (disabledChoices.findWhere({id: collection.get("id")})) { %>
				<%= ' disabled="disabled"' %>
			<% } %>
			>
			<%= collection.get("name") %>
		</option>
	<% }) %>
	</select>
	<input type="submit" id="submit-collections" value="Save collections">
</form>
<button class="remove-collection-form">Cancel</button>