<%= JST['map/navigation']() %>

<ul class="tabs group">  
	<li class="index">
		<a href="#/">My Collection List</a>
	</li>
	<li class="new-collection">
		<a href="#/new-collection">New Collection</a>
	</li>
	<li class="search-nearby">
		<a href="#/search-nearby">Search Nearby</a>
	</li>
</ul>