<%= JST['map/navigation']() %>

<ul class="tabs group">  
	<li class="index">
		<a href="#/">My Collection List</a>
	</li>
	<li class="new-collection">
		<a href="#/new-collection">New Collection</a>
	</li>
	<%= JST['map/search_nearby']() %>
</ul>