<li><h3>Enter a name for a new Collection</h3></li>
<li>
	<label for="new-collection-name">Name:</label>
	<input type="text" id="new-collection-name">
	<button class="new-collection">Make a new Collection!</button>
</li>
