<li class="did-you-mean"><h3>Did you mean?</h3></li>
<% locations.each(function (location) { %>
	<li>
		<p id="<%= location.get("myId") %>" class="location">
			<%= location.get("address") %>
		</p>
	</li>
<% }); %>
<li>
	<a href="#/search-nearby">
		<%= searchPhrase %> as a Location, not an Address
	</a>
</li>