<% console.log("what follows is a location you favorited!") %>
<% console.log(location); %>

<ul>
	<li><%= location.get("name") %></li>
	<li><%= location.get("address") %></li>
	<% window.loc = location %>
</ul>