<% console.log("what follows is a location you favorited!") %>
<% console.log(location); %>

<ul>
	<li><%= location.get("name") %></li>
	<li><button class="set-map-center">Center Map</button></li>
	<li><a href="locations#/detail-view/<%= location.get("id") %>">(Location Detail View)</a></li>
	<li><%= location.get("address") %></li>
	<li class="categories">Categories:
		<dl class="group">
			<% _(location.get("categories")).each(function (category) { %>
				<dt><%= _(category).humanize() %></dt>
			<% }) %>
		</dl>
	</li>
	<li><button class="add-comment">Add a Comment</button></li>
</ul>