<div class="searcharea group recenter">
	<button id="autolocator">Find Me!</button>
	<input type="text" placeholder="Recenter Map...">
	<button id="recenter">Submit!</button>
</div>

<ul class="tabs group">  
	<li><a href="#">Location List</a></li>
	<li><a href="#">Other Collections</a></li>
	<li><a href="#/search-nearby">Search Nearby</a></li>
</ul>

<!-- placeholder to use with replaceWith() -->
<ul id="data-list"></ul>