<ul class="tabs group">  
	<li><a href="#">Locations</a></li>
	<li><a href="#">Other Collections</a></li>
	<li><a href="#">Add a Location</a></li>
</ul>

<div class="searcharea group">
	<form>
		<input type="text" placeholder="Search Map...">
		<input type="submit">
	</form>
</div>