<div class="searcharea group recenter">
	<button id="autolocator">Find Me!</button>
	<input type="text" placeholder="Recenter Map...">
	<button id="recenter">Submit!</button>
</div>

<ul class="tabs group">  
	<li><a href="#">Locations</a></li>
	<li><a href="#">Other Collections</a></li>
	<li><a href="#">Add a Location</a></li>
</ul>

<div class="searcharea group new-locations">
	<form>
		<input type="text" placeholder="Search Map...">
		<input type="submit">
	</form>
</div>
