<ul class="data-list">
	<li>
		<ul class="location">
			<li><a href="#">Kava Coffee</a></li>
			<li>Frequented</li>
			<li>Tags
				<dl class="group">
					<dt>NO-WIFI</dt>
					<dt>GREAT OUTDOOR SEATING</dt>
					<dt>ALCOHOLIC DRINKS</dt>
				</dl>
			</li>
			<li><a href="#">Detail View</a></li>
		</ul>
	</li>
</ul>