<div class="search-container">
	<ul id="search-nearby-info-box">
		<li>This Searchbox lets you look for locations within the <strong>map area</strong> on the left.</li>
		<li><strong>Zoom out</strong> to <strong>widen</strong> your search area, and get more results.</li>
		<li>Or, <strong>scroll</strong> through all the search results, and the map will <strong>automatically</strong> zoom out and add more results to your search.</li>
	</ul>

	<div class="searcharea group new-locations">
		<input type="text" placeholder="Search Current Map View For..." class="search-nearby-box">
		<button id="search-nearby">Search Map View</button>
	</div>

</div>


<!-- place holder for non-initial renders -->
<ul class="nearby-search-results"></ul>