<div class="searcharea group new-locations">
	<input type="text" placeholder="Search Current Map View For..." class="search-nearby-box">
	<button id="search-nearby">Search Map View</button>
</div>

<!-- place holder for non-initial renders -->
<ul class="nearby-search-results"></ul>