<div class="searcharea group new-locations">
	<input type="text" placeholder="Search Map For...">
	<button id="search-nearby">Search!</button>
</div>

<!-- place holder for non-initial renders -->
<ul class="data-list"></ul>