html {
    font-family: 'Lato', sans-serif;
    background-color: white;
}

.group {
    content: "";
    clear: both;
    display: table;
}

nav{
    width: 100%;
    background-color: rgb(130,206,209);
    border-bottom: 1px rgb(26,79,81) solid;
    position: fixed;
    top: 0;
    bottom: 0;
}

nav > .global {
    float: left;
    padding-left: 120px;
}

nav > .global > li {
    float: left;
    border-right: rgb(26,79,81) 1px solid;
    font-weight: 100;
}

nav > .global > li:hover {
    box-shadow: 0px 0px 6px 0px rgb(45,89,95) inset;
}

nav > .global > li:first-child {
    border-left: rgb(26,79,81) 1px solid;
    font-weight: 600;
}

nav > .global > li:nth-child(5).alpha-testing {
    background-color: rgb(156,55,49);
}

/* current state of application will trigger hover like styling */

nav > .global > li:nth-child(3).discovers {
    background-color: rgb(26, 80, 82);
}

nav > .global > li:nth-child(4).helps {
    background-color: rgb(26, 80, 82);
}

nav > .global > li:nth-child(5).feedbacks {
    background-color: rgb(156,91,83);
}

/* end of current state modification */


nav > .global > li.search {
    padding: 8px;

}

nav > .global > li.search > input {
    float: left;
    height: 27px;
    padding: 2px;    
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 900;
}

nav > .global > li.search > input:focus {
   /*outline-color: rgb(58,   135,    89  );*/
}


nav > .global > li > a {
    float: left;
    color: white;
    padding: 16px 16px;
}

nav > .user {
    float: right;
    padding-right: 0px;
}

nav > .user > li {
    float: left;
    border-left: rgb(26,79,81) 1px solid;
    font-weight: 100;
}

nav > .user > li:hover {
    box-shadow: 0px 0px 6px 0px rgb(45,89,95) inset;
}

/* current state of application will trigger hover like styling */

nav > .user > li:first-child.friends {
    background-color: rgb(26, 80, 82);
}

nav > .user > li:nth-child(2).collections {
    background-color: rgb(26, 80, 82);
}

nav > .user > li:nth-child(3).locations {
    background-color: rgb(26, 80, 82);
}

/* end of current state modification */

nav > .user > li:last-child {
    border-right: rgb(26,79,81) 1px solid;
}

nav > .user > li > a {
    float: left;
    color: white;
    padding: 16px;
}