#side-bar #data-list > ul > .collection {
    width: 100%;
    border-bottom: 1px rgb(26,79,81) solid;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
    color: rgb(26, 79, 82 );
}

/* Exclusive to Did you mean search results */
/*---------------------------------------------------------*/

#side-bar #data-list > ul > li > p.collection {
    padding: 5px;
    border-top: solid 1px rgb(26,79,81);
}

#side-bar #data-list > ul > li > p.collection.map-center {
    background-color: rgb(26, 80, 82);
    color: white;
}

/* YOUR locations exclusive */
/*---------------------------------------------------------*/

#side-bar #data-list > ul > .collection > li {
    padding: 0px 5px;
    font-size: 14px;
    color: black;
}

#side-bar #data-list > ul > .collection > li > a {
    color: black;
}

#side-bar #data-list > ul > .collection > li:first-child > a {
    font-size: 26px;
    color: white;
}

/* title of collections */
#data-list li.collection > ul > li.collection-title,
#data-list li.location > ul > li.location-title {
    font-size: 21px;
}



#side-bar #data-list li.collection > ul > li.categories > dl > dt,
#side-bar #data-list ul.collection > li.categories > dl > dt {
    /* This is a category */
    background-color: rgb(26, 79, 82 );
    padding: 3px 6px;
    border-radius: 5px;
    float: left;
    margin: 1px 3px;
    font-weight: 900;
    font-size: 13px; 
    color: white;
}

/* location detail view */
#data-list > ul.collection,
#data-list > ul.new-collection-form {
    margin-left: 5px;
}

/* Search Nearby exclusive */
/*---------------------------------------------------------*/

#side-bar #data-list ul.nearby-search-results > li > ul.collection {
    border-bottom: 1px rgb(26,79,81) solid;
}

#side-bar #data-list ul.nearby-search-results > li:first-child {
   
}

#side-bar #data-list ul.nearby-search-results > li > ul.collection > li > a {
    color: white;
}

#side-bar #data-list ul.nearby-search-results > li > ul.collection > li > dl > dt {
    /* This is a category */
    background-color: rgb(26, 79, 82 );
    padding: 3px 6px;
    border-radius: 5px;
    float: left;
    margin: 1px 3px;
    font-weight: 900;
    font-size: 13px; 
    color: white;
}


/* new collection form aligning */
ul.new-collection-form > li > input,
/* new comment form aligning */
ul.location > div.new-comment-form > div.comment-form-buttons,
ul.location > div.new-comment-form > textarea,
li.location div.new-comment-form > div.comment-form-buttons,
li.location div.new-comment-form > textarea,
li.location div.new-comment-form > label {
    display: block;
}