#side-bar #data-list > ul > .location {
    width: 100%;
    border-bottom: 1px rgb(26,79,81) solid;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
    color: rgb(26, 79, 82 );
}

/* Exclusive to Did you mean search results */
/*---------------------------------------------------------*/

#side-bar #data-list > ul > li > p.location {
    padding: 5px;
    border-top: solid 1px rgb(26,79,81);
    cursor: pointer;
}

#side-bar #data-list > ul > li > p.location.map-center {
    background-color: rgb(26, 80, 82);
    color: white;
    /* cursor: pointer; */
}

/* YOUR locations exclusive */
/*---------------------------------------------------------*/

#side-bar #data-list > ul > .location > li {
    padding: 0px 5px;
    font-size: 14px;
    color: black;
}

#side-bar #data-list > ul > .location > li > a {
    color: black;
}

#side-bar #data-list > ul > .location > li:first-child > a {
    font-size: 26px;
    color: white;
}


#side-bar #data-list li.location > ul > li.categories > dl > dt,
#side-bar #data-list ul.location > li.categories > dl > dt {
    /* This is a category */
    background-color: rgb(26, 79, 82 );
    padding: 3px 6px;
    border-radius: 5px;
    float: left;
    margin: 1px 3px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 13px; 
    color: white;
}

/* location detail view */
#data-list > ul.location,
#data-list > ul.new-collection-form {
    margin-left: 5px;
}

/* Search Nearby exclusive */
/*---------------------------------------------------------*/

#side-bar #data-list ul.nearby-search-results > li > ul.location {
    border-bottom: 1px rgb(26,79,81) solid;
}

#side-bar #data-list ul.nearby-search-results > li:first-child {
    
}

#side-bar #data-list ul.nearby-search-results > li > ul.location > li > a {
    color: white;
}

#side-bar #data-list ul.nearby-search-results > li > ul.location > li > dl > dt {
    /* This is a category */
    background-color: rgb(26, 79, 82 );
    padding: 3px 6px;
    border-radius: 5px;
    float: left;
    margin: 1px 3px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 13px; 
    color: white;
}

/* new collection form aligning */
ul.new-collection-form > li > input,
/* new comment form aligning */
ul.location > li.new-comment-form > div.comment-form-buttons,
ul.location > li.new-comment-form > textarea {
    display: block;
}