#data-list ul.user {
    border-bottom: 1px rgb(26,79,81) solid;
    margin: 20px 5px;
}

#data-list ul.user > li.name {
    font-size: 25px;
}

#data-list > div.add-new-friends {
	margin: 20px;
}

#data-list > div.add-new-friends > h3 {
	margin-bottom: 20px;
}