#map {
    position:absolute;
    top: 53px;
    bottom:0;
    left:0;
    right:40%;
}

#side-bar {
    overflow-x:hidden;
    position:absolute;
    bottom:0;
    top: 53px;
    right:0;
    width:40%;
    min-width:400px;
    box-sizing: border-box;
    background-color: rgb(130,206,209);
    border-left: 1px rgb(26,79,81) solid;
}

#side-bar > .searcharea {
    padding: 6px 16px;
    width: 100%;
    border-bottom: rgb(26,79,81) 1px solid;
    position: fixed;
    background-color: rgb(130,206,209);
}

#side-bar > .searcharea > input {
    padding: 6px 6px;
    width: 28%;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

#side-bar > .tabs {
    font-size: 12px;
    width: 100%;
    position: fixed;
    top: 103px;
    background-color: rgb(130,206,209);
}
#side-bar > .tabs > li {
    font-size: 14px;
    float: left;
    padding: 16px 7px;
    border-right: rgb(26,79,81) 1px solid;
    border-bottom: rgb(26,79,81) 1px solid;
}

#side-bar > .tabs > li:last-child {
    padding: 16px 9px;

}

#side-bar > .tabs > li > a {
    color: white;
}


#side-bar > .data-list {
    width: 100%;
}

#side-bar > .data-list > li:first-child {
    padding-top: 110px;
}


#side-bar > .data-list > li > .location {
    width: 100%;
    border-bottom: 1px rgb(26,79,81) solid;
    font-family: "Times New Roman", Times, serif;
}

#side-bar > .data-list > li > .location > li {
    padding: 0px 5px;
    font-size: 14px;
    color: black;
}

#side-bar > .data-list > li > .location > li > a {
    color: black;
}

#side-bar > .data-list > li > .location > li:first-child > a {
    font-size: 26px;
    color: white;
}

#side-bar > .data-list > li > .location > li > dl > dt {
    background-color: rgb(70,135,92);
    padding: 2px 2px;
    border-radius: 5px;
    float: left;
    margin: 1px 3px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 11px;
    
    color: white;
}

#side-bar > label {
    float: left;
    position: absolute;
    top: 505px;
    right: 226px;
    font-size: 14px;
}
