#side-bar ul.tabs > li.index > a.index,
#side-bar ul.tabs > li.new-collection > a.new-collection,
#side-bar ul.tabs > li.location-details > a.location-details,
#side-bar ul.tabs > li.search-users > a.search-users,
#side-bar ul.tabs > li.friends-locations > a.friends-locations,
#side-bar ul.tabs > li.friends-collections > a.friends-collections,
#side-bar ul.tabs > li.collection-locations > a.collection-locations,
#side-bar ul.tabs > li.search-nearby > a.search-nearby,
#side-bar ul.tabs > li.did-you-mean > a.did-you-mean {
	background-color: rgb(130,206,209);
    border-bottom: rgb(130,206,209) 1px solid;
    color: white;
}

/* hover effects */
#side-bar ul.tabs > li.index > a.index:hover,
#side-bar ul.tabs > li.new-collection > a.new-collection:hover,
#side-bar ul.tabs > li.location-details > a.location-details:hover,
#side-bar ul.tabs > li.search-users > a.search-users:hover,
#side-bar ul.tabs > li.friends-locations > a.friends-locations:hover,
#side-bar ul.tabs > li.friends-collections > a.friends-collections:hover,
#side-bar ul.tabs > li.collection-locations > a.collection-locations:hover,
#side-bar ul.tabs > li.search-nearby > a.search-nearby:hover,
#side-bar ul.tabs > li.did-you-mean > a.did-you-mean:hover{
	color: black;
}