<div id="content">
	<div id="map">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, consequuntur, porro, recusandae nisi hic accusantium magnam vitae possimus pariatur soluta natus fugiat culpa quos iste doloribus in maxime! Mollitia, sint. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, iure enim velit suscipit soluta tenetur amet obcaecati dolores laborum repellat. Labore, voluptates, repellendus delectus suscipit quasi aperiam architecto non illum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, ullam, aut. Veniam, dolores, harum, qui, saepe cumque nobis ipsam ullam reiciendis voluptate possimus inventore voluptatem temporibus soluta accusantium corporis nesciunt!
	</div>

	<div id="side-bar">
		<div class="searcharea">
			<input type="text" placeholder="Set Your Location...">
		</div>

		<ul class="tabs group">  
			<li><a href="#">Locations</a></li>
			<li><a href="#">Other Collections</a></li>
			<li><a href="#">Add a Location</a></li>
		</ul>
		
		<ul class="data-list">
			<li>
				<ul class="location">
					<li><a href="#">Kava Coffee</a></li>
					<li>Frequented</li>
					<li>Tags
						<dl class="group">
							<dt>NO-WIFI</dt>
							<dt>GREAT OUTDOOR SEATING</dt>
							<dt>ALCOHOLIC DRINKS</dt>
						</dl>
					</li>
					<li><a href="#">Detail View</a></li>
				</ul>

				<ul class="location">
					<li><a href="#">Kava Coffee</a></li>
					<li>Frequented</li>
					<li>Tags
						<dl class="group">
							<dt>NO-WIFI</dt>
							<dt>GREAT OUTDOOR SEATING</dt>
							<dt>ALCOHOLIC DRINKS</dt>
						</dl>
					</li>
					<li><a href="#">Detail View</a></li>
				</ul>
				<ul class="location">
					<li><a href="#">Kava Coffee</a></li>
					<li>Frequented</li>
					<li>Tags
						<dl class="group">
							<dt>NO-WIFI</dt>
							<dt>GREAT OUTDOOR SEATING</dt>
							<dt>ALCOHOLIC DRINKS</dt>
						</dl>
					</li>
					<li><a href="#">Detail View</a></li>
				</ul>
				
			</li>
		</ul>
		
<!-- 		<label>
			<input type="checkbox" value="checked">
			Only include overlapping Collections
		</label> -->
	</div>
</div>