<div class="side-bar">
	<div class="searcharea">
		<input type="text" placeholder="Set Your Location...">
	</div>

	<ul class="tabs group">  
		<li><a href="#">Locations</a></li>
		<li><a href="#">Other Collections</a></li>
		<li><a href="#">Add a Location</a></li>
	</ul>
	
	<ul class="data-list">
		<li>
			<ul class="location">
				<li><a href="#">Kava Coffee</a></li>
				<li>Frequented</li>
				<li>Tags
					<dl class="group">
						<dt>NO-WIFI</dt>
						<dt>GREAT OUTDOOR SEATING</dt>
						<dt>ALCOHOLIC DRINKS</dt>
					</dl>
				</li>
				<li><a href="#">Detail View</a></li>
			</ul>
		</li>
<!-- 			<ul class="location">
			<li><a href="#">Goldstein Gallery</a> : Visited 3 times</li>
			<li>Tags: Cold, Generally cool</li>
			<li><a href="#">Detail View</a></li>
		</ul> -->
<!-- 				<ul class="location">
			<li><a href="#">Goldstein Gallery</a> : Visited 3 times</li>
			<li>Tags: Cold, Generally cool</li>
			<li><a href="#">Detail View</a></li>
		</ul>
		<ul class="location">
			<li><a href="#">Goldstein Gallery</a> : Visited 3 times</li>
			<li>Tags: Cold, Generally cool</li>
			<li><a href="#">Detail View</a></li>
		</ul> -->
	</ul>

<!-- 			<ul class="collection-list">
		<li><a href="#">Saturday Spots</a></li>
		<li><a href="#">Jane's B-Day</a></li>
		<li><a href="#">Lots of Writing to do...</a></li>
	</ul> -->
	
	<label>
		<input type="checkbox" value="checked">
		Only include overlapping Collections
	</label>
</div>