<h2>Welcome to DillyDally</h2>
<h4>A place to record, discover, and share your favorite locations</h4>
<ul>
	<li>Search your map for locations, and save your favorites.</li>
	<li>Add notes, comments, and tags to locations.</li>
	<li>Group your locations into Collections.</li>
	<li>Search for friends, and see their favorite locations and collections.</li>
</ul>
