<form>
	<select
		multiple="true"
		name="location[tag_ids]"
		>
	<% tagChoices.each(function (tag) { %>
		<!-- Preparing for serializeArray(), which will preserve name+value -->
		<!-- unfortunately, option tags don't take a name -->
		<option
			value="<%= tag.get("id") %>|<%= tag.get("name") %>"
			<% if (disabledChoices.findWhere({name: tag.get("name")})) { %>
				<%= ' disabled="disabled"' %>
			<% } %>
			>
			<%= tag.get("name") %>
		</option>
	<% }) %>
	</select>
	<input type="submit" id="submit-tags" value="Save Tags">
</form>
<button class="remove-tag-form">Cancel</button>