<label>
	<select
		multiple="true"
		name="location[tag_ids]"
		>
	<% tagChoices.each(function (tag) { %>
		<option value="<%= tag.get("id") %>">
			<%= tag.get("name") %>
		</option>
	<% }) %>
	</select>
</label>